@font-face {
  font-family: "Danidanijr";
  src: url("danidanijrs-font.ttf");
}

fps {
  color: yellow;
  font-family: "Verdana";
  font-size: 18px;
}

p {
  color: white;
  font-family: "Verdana";
  font-size: 18px;
}

.text {
  display: inline;
}

body {
  background-color: black;
}

#points {
    font-family: "Verdana";
    font-size: 24px;
    text-align: left;
    text-shadow: 2px 2px grey;
    color: white;
} 

#simpEXP1 {
  font-family: "Verdana";
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px rgb(127, 0, 0);
  color: red;
} 
#simpEXP2 {
  font-family: "Verdana";
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px rgb(127, 127, 0);
  color: yellow;
} 
#simpEXP3 {
  font-family: "Verdana";
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px rgb(0, 127, 0);
  color: rgb(0, 255, 0);
} 
#simpEXP4 {
  font-family: "Verdana";
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px rgb(0, 0, 127);
  color: blue;
} 
#simpEnergy {
  font-family: "Verdana";
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px rgb(0, 127, 127);
  color: cyan;
} 

