@font-face 
{
  font-family: "Danidanijr";
  src: url("danidanijrs-font.ttf");
}
body {
  background-color: black;
}
p {
    font-family: "Verdana";
    font-size: 24px;
    text-align: left;
    text-shadow: 2px 2px grey;
    color: white;
}
fps {
  font-family: "Verdana";
  font-size: 14px;
  text-align: right;
  color: yellow; 
}
span {
  font-family: "Verdana";
  color: white;
}